[submodule "external/mexopencv"]
	path = external/mexopencv
	url = https://github.com/rokm/mexopencv.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/rokm/opencv
[submodule "external/opencv_contrib"]
	path = external/opencv_contrib
	url = https://github.com/rokm/opencv_contrib
[submodule "external/lift"]
	path = external/lift
	url = https://github.com/rokm/LIFT/
[submodule "external/deepdesc-release"]
	path = external/deepdesc-release
	url = https://github.com/etrulls/deepdesc-release.git
[submodule "external/tfeat"]
	path = external/tfeat
	url = https://github.com/vbalnt/tfeat.git
